<form>
    <h2 mat-dialog-title>新建项目</h2>
    <div mat-dialog-content>
        <mat-form-field>
            <input matInput placeholder="请输入项目名称" type="text">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="请输入描述" type="text">
        </mat-form-field>
    </div>
    <div mat-dialog-actions [align]="'center'">
        <button mat-raised-button type="button" color="primary">保存</button>
        <button mat-button mat-dialog-close type="button">关闭</button>
    </div>
</form>