<form [formGroup]="form" (ngSubmit)="onSubmit(form, $event)">
    <mat-card>
        <mat-card-header>
            <mat-card-title>注册</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <!-- floatLabel支持三种属性：'never', 'always', 'auto' -->
            <!-- API文档：https://material.angular.io/components/form-field/api -->
            <mat-form-field class="full-width">
                <input matInput placeholder="请输入您的邮箱" tytpe="text" formControlName="email">
            </mat-form-field>
            <mat-form-field class="full-width">
                <input matInput placeholder="请输入您的姓名" tytpe="text" formControlName="name">
            </mat-form-field>
            <mat-form-field class="full-width">
                <input matInput placeholder="请输入您的密码" type="password" formControlName="password">
            </mat-form-field>
            <mat-form-field class="full-width">
                <input matInput placeholder="请再次输入您的密码" type="password" formControlName="repeatpw">
            </mat-form-field>
            <app-image-select
                formControlName="avatar"
                [title]="'选择头像'"
                [useSvgIcon]="true"
                [data]="avatars">
            </app-image-select>
            <app-age-calc
                formControlName="dateOfBirth">
            </app-age-calc>
            <button mat-raised-button type="submit" color="primary" class="registerBtn">注册</button>
        </mat-card-content>
        <mat-card-actions class="text-right">
            <p>已经有账号？<a href="" routerLink="/login">登录</a></p>
            <p>忘记密码了？<a href="">找回</a></p>
        </mat-card-actions>
    </mat-card>
</form>
