<div class="home-container">
    <app-task-list
        class="list-container"
        *ngFor="let list of lists">
        <app-task-header
            (add)="onAdd()"
            (move)="onMove()"
            (delete)="onDelete()"
            (edit)="onEdit()"
            [header]="list.name">
        </app-task-header>
        <app-task-item
            (taskClick)="onTaskClick(item)"
            [task]="item"
            *ngFor="let item of list.tasks">
        </app-task-item>
    </app-task-list>
</div>
<button mat-fab type="button" class="fab-button" (click)="onAddList()">
    <mat-icon>add</mat-icon>
</button>